{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar with tabs -->
    <div class="col-md-2">
      <ul class="nav flex-column nav-pills">
        <li class="nav-item"><a class="nav-link active" href="#add" data-bs-toggle="tab">Add Product</a></li>
        <li class="nav-item"><a class="nav-link" href="#delete" data-bs-toggle="tab">Delete Product</a></li>
        <li class="nav-item"><a class="nav-link" href="#logs" data-bs-toggle="tab">View Logs</a></li>
      </ul>
    </div>

    <!-- Tab content -->
    <div class="col-md-10">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="add">
          {% include 'admin/_tab_add_product.html.twig' %}
        </div>
        <div class="tab-pane fade" id="delete">
          {% include 'admin/_tab_delete_product.html.twig' %}
        </div>
        <div class="tab-pane fade" id="logs">
          {% include 'admin/_tab_view_logs.html.twig' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
